<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
	</configSections>
	<appSettings>
		<add key="Cultures" value="en-US, de, fr-MC, en, fo-FO, es, fr, de-DE, nl, en-GB, pt, ru, tr, sv-SE, de-LI, sv-FI, de-LU, fr-LU" />
		<add key="RecaptchaPrivateKey" value="" />
		<add key="RecaptchaPublicKey" value="" />
	</appSettings>
	<StructureMap>
		<Registry Type="Captcha.Samples.Application.Registry, Captcha.Samples.Application" />
	</StructureMap>
	<system.web>
		<compilation debug="true" />
		<pages>
			<controls>
				<add assembly="Recaptcha" namespace="Recaptcha" tagPrefix="WebControls" />
			</controls>
		</pages>
		<urlMappings enabled="true">
			<add mappedUrl="~/Index.aspx" url="~" />
			<add mappedUrl="~/Index.aspx" url="~/" />
			<add mappedUrl="~/Index.aspx" url="~/Default.aspx" />
			<add mappedUrl="~/Index.aspx" url="~/Index.aspx" />
		</urlMappings>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="Index.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>